.contacts {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  min-height: 615px;

  color: #283645;
  background-color: #ffffff;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

.contacts__wrapper {
  background-color: #ffffff;
}

.contacts__titles {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  & a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #d22856;
  }
}
