.page-footer {
  .indent-reset();
}

@media (min-width: @tablet-width) {
  .page-footer {
    background-color: #ffffff;
  }
}

.page-footer__content {
  min-height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  background-color: #ffffff;
}

.page-footer__content--index {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__content {
    min-height: 127px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__content {
    align-items: flex-start;
    width: 980px;
    min-height: 225px;
  }
}

.page-footer__social {
  margin-top: 35px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__social {
    margin-right: 20px;
    margin-top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social {
    margin-right: -5px;
    margin-top: 74px;
  }

  .page-footer__social--photo {
    margin-right: -11px;
    margin-top: 104px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    margin-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    margin-top: 83px;
  }

  .page-footer__copyright--photo {
    margin-top: 113px;
  }
}

.page-footer__logo-image {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__logo-image {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo-image {
    margin-top: 69px;
  }

  .page-footer__logo-image--photo {
    margin-top: 99px;
  }
}
