.photo-page {
  padding: 0;
  display: flex;
  flex-direction: column;

  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-page {
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .photo-page {
    background-image: none;
  }
}

.photo-page__intro {
  display: flex;
  justify-content: center;
  padding: 0;
  min-height: 185px;

  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .photo-page__intro {
    min-height: 228px;
  }
}

@media (min-width: @desktop-width) {
  .photo-page__intro {
    min-height: 241px;
  }
}

.photo-page__intro p {
  .indent-reset();
  margin-top: 50px;
  width: 245px;
}

@media (min-width: @tablet-width) {
  .photo-page__intro p {
    margin-top: 100px;
    width: 440px;
  }
}

@media (min-width: @tablet-width) {
  .photo-page__intro p {
    width: 450px;
  }
}

.photo-page__title {
  .indent-reset();

  color: #ffffff;
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .photo-page__title {
    font-size: 50px;
    line-height: 58px;

    margin-top: 80px;
  }
}

@media (min-width: @desktop-width) {
  .photo-page__title {
    width: 340px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

.photo-page__attention {
  margin: 0;
  padding: 55px 35px;

  line-height: 30px;

  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .photo-page__attention {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 80px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .photo-page__attention {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 80px;

    font-size: 18px;
  }
}
