.site-list {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;

  margin: 0;
  padding: 0;
  text-align: center;

  a {
    color: #ffffff;
  }
}
