.site-list {
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;

  a {
    color: #ffffff;
  }

  a[href] {
    &:hover {
      color: #d22856;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    align-items: center;
    font-weight: 400px;
    line-height: 18px;
  }
}

.site-list__item {
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;


  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: @desktop-width) {
  .site-list__item {
    margin-left: 82px;
    font-weight: 400;
    line-height: 18px;
    border: none;

    a {
      text-transform: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}
