.users-photo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  background-color: #ffffff;
}

.user-photo__simple {
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .user-photo__simple {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .user-photo__simple {
    margin-right: 130px;
    margin-left: 130px;
  }
}

.users-photo__item {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}
